<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_1.xsd"
  version="4.1">

	<display-name>day02_servlet01</display-name>

	<welcome-file-list>

		<welcome-file>index.html</welcome-file>

		<welcome-file>index.htm</welcome-file>

		<welcome-file>index.jsp</welcome-file>

		<welcome-file>default.html</welcome-file>

		<welcome-file>default.htm</welcome-file>

		<welcome-file>default.jsp</welcome-file>

	</welcome-file-list>

	<servlet>

		<servlet-name>insert</servlet-name>

		<servlet-class>test.InsertServlet</servlet-class>

	</servlet>

	<servlet-mapping>

		<servlet-name>insert</servlet-name>

		<url-pattern>/abc</url-pattern>

	</servlet-mapping>



	<servlet>

		<servlet-name>list</servlet-name>

		<servlet-class>test.ListServlet</servlet-class>

	</servlet>

	<servlet-mapping>

		<servlet-name>list</servlet-name>

		<url-pattern>/list.do</url-pattern>

	</servlet-mapping>



	<servlet>

		<servlet-name>delete</servlet-name>

		<servlet-class>test.DeleteServlet</servlet-class>

	</servlet>

	<servlet-mapping>

		<servlet-name>delete</servlet-name>

		<url-pattern>/delete.do</url-pattern>

	</servlet-mapping>



	<servlet>

		<servlet-name>update</servlet-name>

		<servlet-class>test.UpdateServlet</servlet-class>

	</servlet>

	<servlet-mapping>

		<servlet-name>update</servlet-name>

		<url-pattern>/update.do</url-pattern>

	</servlet-mapping>



	<servlet>

		<servlet-name>updateok</servlet-name>

		<servlet-class>test.UpdateOkServlet</servlet-class>

	</servlet>

	<servlet-mapping>

		<servlet-name>updateok</servlet-name>

		<url-pattern>/updateok.do</url-pattern>

	</servlet-mapping>

</web-app>